<tr class="task {{#if past_due}}past-due{{/if}} {{#if complete}}complete{{/if}}">
<td>{{#if complete}}&#10004;{{else}}<button class="complete-task-btn" data-task-id="{{id}}">Complete</button>{{/if}}</td> 
<td><strong>{{description}}</strong></td><td>{{formatDate due_date}}</td>
<td><button class="delete-task-btn" data-task-id="{{id}}">Delete</button></td>
</tr>