<script src="/js/home.bundle.js"></script>
<style>
  #add-task-form {
    background-color: lightgray;
  }
  #task-list {
    width: 100%;
  }
  .task.past-due {
    color: red;
  }
  .task.complete {
    color: lightgray;
  }
</style>
<h1>{{title}}</h1>
<form id="add-task-form">
  <table>
    <tr>
      <td>
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="due_date" placeholder="Due Date">
      </td>
      <td><button type="submit">Add Task</button></td>
    </tr>
  </table>
</form>
<table id="task-list">
  {{#tasks}}
    {{> task}}
  {{/tasks}}
</table>